body {
	background-color: lightgreen;
}
p {
	color: green; 
	font-family: Ariel;
}
h1 {
	color: purple; 
	font-family: Verdana;
}
h3 {
	color: cornflowerblue; 
	font-family: Garamond;
}
ul {
	list-style-type: lower-roman;
	color: yellow;
	font-family: "Iskoola Pota";
}
